@import "tailwindcss";

:root {
  font-family:
    system-ui,
    -apple-system,
    Segoe UI,
    Roboto,
    Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

html,
body,
#app {
  height: 100%;
}

body {
  margin: 0;
}

button {
  width: fit-content;
  padding: 8px 12px;
}
